*{
	margin: 0px;
}


 body{
 	font-family: 'Roboto Condensed', sans-serif;
 	
 	
 	
 }

.Mainpart{
    background: url(../image/back.jpg) no-repeat;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 657px;

}


.part-one{
	width: 50%;
    float: left;
    margin-top: 110px;

}


.part-one h3{
	    font-size: 40px;
    text-transform: uppercase;
    color: white;
      margin: 40px 64px;
}

.part-one p{
    color: white;
    font-size: 17px;
    margin-left: 65px;
}
.part-one h3 .andc{
	color: #65ff65f2;
}

.part-one ul{
	list-style: square;
	color: white;
	font-size: 10px;
	    margin-top: 15px;
}


.part-one ul li{
    list-style: square;
    color: white;
    font-size: 16px;
    margin-left: 43px;
}
.part-one .btn{
    color: black;
    font-size: 18px;
    background: #fafdff;
    padding: 13px 29px;
    border: none;
    border-radius: 28px;
    margin-left: 74px;
    margin-top: 32px;
    text-transform: uppercase;
}







.part-two{
	width: 50%;
	float: left;
}


.ptwo-main{
	background-color: #39c1fffa;
    width: 67%;
    float: left;
    height: 520px;
    margin-top: 42px;
    margin-left: 107px;

}
 .ptwo-main h2{

font-size: 36px;
    text-align: center;
    margin-top: 61px;
    text-transform: uppercase;
 
 }


 .ptwo-main p{
font-size: 16px;
    text-align: center;
    padding: 19px;
 }



.ptwo-main .main-form{


}


.main-form-input{
font-size: 16px;
width: 89%;
    padding: 13px 7px;
    margin: 7px 18px;
    border: 1px solid silver;
}

.ptwo-main .btn-two{
color: white;
    font-size: 18px;
  
    background: #002590;
    padding: 12px 133px;
    margin: 15px 20px;
    box-shadow: 0px 3px green;
    border: none;
}
